
<!-- Sidebar -->
<!-- <div class="w3-sidebar w3-bar-block" style="width:25% ;height:81%;background: #212529;">
  <h3 class="w3-bar-item" style="color: white">Menu</h3>
  <a routerLink="/admin/accounts/users" class="w3-bar-item w3-button" style="color: white">Users</a>
  <a routerLink="/admin/categories" class="w3-bar-item w3-button" style="color: white">Categories</a>
  <a routerLink="/admin/products" class="w3-bar-item w3-button" style="color: white">Products</a>
</div> -->

<!-- 
<div class="card" style="width: 20%; margin-bottom: 20px">

  <ul class="list-group list-group-flush" style="list-style-type: none">
    <li class="list-group-item" ><a routerLink="/admin/accounts/users">Users</a></li>
    <li class="list-group-item" ><a routerLink="/admin/categories">Categories</a></li>
    <li class="list-group-item" ><a routerLink="/admin/products">Products</a></li>

  </ul>
</div> -->

<!-- <div class="w3-sidebar w3-bar-block" style="width:25% ;height:81%;background: #212529;">
  <h3 class="w3-bar-item" style="color: white">Menu</h3>
  <a routerLink="/admin/accounts/users" class="w3-bar-item w3-button" style="color: white">Users</a>
  <a routerLink="/admin/categories" class="w3-bar-item w3-button" style="color: white">Categories</a>
  <a routerLink="/admin/products" class="w3-bar-item w3-button" style="color: white">Products</a>
</div> -->

<!-- <app-users-admin>
<h1 style="margin: auto">You are Logged-in already ! </h1>
-->
  <h1 style="margin: auto">Welcome Admin ! </h1>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> 
